name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

# PreInstall
    - name: add gulp, codecov
      run: npm install -g gulp-cli codecov

    - name: yarn install, build and test
      run: |
        yarn --frozen-lockfile
        yarn test -- --colors --forceExit
      env:
        CI: true

# Coverage
    - name: Coverage
      run: yarn coverage

    - name: Publish codecov
      run: codecov -f coverage/*.json
